body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хеддер */
.site-navigation {
  list-style: none;
}

.current {
  color: #766357;
  font-weight: bold;
}

.not-current {
  color: #000000;
  font-weight: bold;
}
.not-current:hover {
  color: #81b3d2;
}

.not-current:active {
  color: #000000;
  opacity: 0.3;
}

/* мэйн */
.sedona-welcome {
  height: 780px;
  background-image: url("../img/intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.preview {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.introduction {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-features1 {
  width: 33.4%;
  background-color: #81b3d2;
  color: #ffffff;
}

.main-features2 {
  width: 33.4%;
  background-color: #81b3d2;
  color: #ffffff;
}

.gallery1 {
  width: 66.6%;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
}

.gallery2 {
  width: 66.6%;
  background-image: url("../img/canyon.jpg");
  background-repeat: no-repeat;
}

.features{
text-align: center;
}

.features-list1,
.features-list2 {
  list-style: none;
}

.features-list2 {
  background-color: #eeeeee;
}

.small-headlines {
  font-size: 21px;
  line-height: 21px;
}

.small-text {
  color: #333333;
  line-height: 21px;
}

.appointment {
  text-align: center;
}

.bottom-introduction {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.text-introduction {
  color: #333333;
}

.button-active {
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  width: 568px;
  height: 86px;
}

.button-active:hover {
  background-color: #604e43;
}

.button-active:active {
  color: #928a85;
  background-color: #503e33;
}

.label-headline {
  font-weight: bold;
  line-height: 26px;
}

.date-field,
.number-of-guest {
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 26px;
}

.calendar {
  fill: #cacaca;
}
.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.button-search {
  background-color: #81b3d2;
  color: #ffffff;
}

.button-search:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-search:active {
  background-color: #5496bd;
}

.active:active {
  opacity: 0.3;
}

/* футер */
.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social {
  background-color: #81b3d2;
}

.social:hover {
  background-color: #669ec0;
}
.social:active {
  background-color: #5496bd;
  fill: #88b6d1;
}

.button-academy:hover {
  fill: #98c1da;
}

.button-academy:active {
  fill: #bdbbbc;
}


/* 2 страница */
.found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting {
  font-weight: 500;
}

.current-choise {
  font-size: 12px;
  line-height: 18px;
}

.not-current-choise {
  font-size: 12px;
  line-height: 18px;
}

.down {
  fill: #81b3d2;
}

.more{
  color: #ffffff;
  background-color: #81b3d2;
}
.more:hover {
  background-color: #669ec0;
}

.more:active {
  background-color: #5496bd;
}
.more-info:active {
  opacity: 0.3;
}

.book-button {
  background-color: #766357;
}

.book-button:hover {
  background-color: #604e43;
}

.book-button:active {
  background-color: #503e33;
}

.book {
  color: #ffffff;
}

.book:active {
  opacity: 0.3;
}

.current-choise {
  color: #81b3d2;
}

.not-current-choise {
  color: #000000;
  opacity: 0.3;
  border-bottom: 2px dotted;
  border-color: #81b3d2;
}
