body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хеддер */
.site-navigation {
  list-style: none;
}

.current {
  font-weight: bold;
  color: #766357;
}

.nav-item:not(.current) {
  font-weight: bold;
  color: #000000;
}
.nav-item:not(.current):hover {
  color: #81b3d2;
}

.nav-item:not(.current):active {
  opacity: 0.3;
  color: #000000;
}

/* мэйн */
.preview {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.introduction {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-features1 {
  width: 33.4%;
  background-color: #81b3d2;
  color: #ffffff;
}

.features{
text-align: center;
}

.features-list1,
.features-list2 {
  list-style: none;
}

.features-list2 {
  background-color: #eeeeee;
}

.small-headlines {
  font-size: 21px;
  line-height: 21px;
}

.small-text {
  line-height: 21px;
  color: #333333;
}

.appointment {
  text-align: center;
}

.bottom-introduction {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.text-introduction {
  color: #333333;
}

.button-active {
  background-color: #766357;
  color: #ffffff;
}

.button-active:hover {
  background-color: #604e43;
}

.button-active:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.label-headline {
  font-weight: bold;
  line-height: 26px;
}

.date-field,
.number-of-guest {
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 26px;
  border: none;
}

.date-field {
  width: 346px;
}

.number-of-guest {
  margin-left: 41px;
  width: 114px;
}

.date-field:hover,
.number-of-guest:hover {
  background-color: #ebebeb;
}

.date-field:focus,
.number-of-guest:focus {
  background-color: #ffffff;
}

.calendar {
  fill: #cacaca;
}
.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.button-minus,
.button-plus {
  font-weight: bold;
  color: #a9a9a9;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #81b3d2;
}

.button-search {
  width: 458px;
  margin-top: 54px;
  padding-top: 17px;
  padding-bottom: 22px;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}

.button-search:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-search:active {
  color: rgba(255,255,255, 0.3);
  background-color: #5496bd;
}

/* футер */
.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social:hover {
  background-color: #669ec0;
}
.social:active {
  background-color: #5496bd;
  fill: #88b6d1;
}

.button-academy:hover {
  fill: #98c1da;
}

.button-academy:active {
  fill: #bdbbbc;
}


/* 2 страница */
.hotel-criteria {
  background-image: url("../img/filterbackground.jpg")
}

.criteria-headline {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.criteria-parameters {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.range-block {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.show-result {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid white;
  color: #ffffff;
}

.show-result:hover {
  background-color: #ffffff;
  color: #000000;
}


.found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting {
  font-weight: 500;
}

.active-choise {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.choise:not(.active-choise) {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 2px dotted;
  border-color: #81b3d2;
  color: #000000;
}

.down {
  fill: #81b3d2;
}

.more{
  background-color: #81b3d2;
  color: #ffffff;
}
.more:hover {
  background-color: #669ec0;
}

.more:active {
  background-color: #5496bd;
  color: rgba(255,255,255, 0.3);
}
.book-button {
  text-transform: uppercase;
  background-color: #766357;
  color: #ffffff;
}

.book-button:hover {
  background-color: #604e43;
  color: #ffffff;
}

.book-button:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}


/* сетки */
.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
  margin: 0;
  justify-content: space-between;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}

.site-navigation li:nth-child(2) {
margin-right: 300px;
}

.site-navigation li {
  padding-top: 16px;
  padding-bottom: 16px;
}

.intro {
  display: flex;
  justify-content: center;
  min-height: 561px;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center -55px;
}

.welcome {
padding: 76px 1px 29px 1px;
}

.description {
  padding: 64px 350px 58px 350px;
}
.preview {
  margin-bottom: 40px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.gallery1 {
  overflow: hidden;
}

.city-img,
.canoyn-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-features1 {
  width: 400px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.main-features1 .blue-box {
  margin-bottom: 30px;
}

.features-list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0px;
}

.features-list1 li {
  width: 400px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 88px;
  padding-right: 10px;
  padding-left: 10px;
}

.features-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: 0px;
}

.features-list2 li {
  width: 400px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 64px;
}

.small-text {
  padding-left: 45px;
  padding-right: 45px;
}

.hotel-helper {
  position: relative;
  padding-top: 1px;
  padding-left: 316px;
  padding-right: 316px;
}

.bottom-introduction {
  margin-bottom: 36px;
}

.text-introduction {
  margin-bottom: 53px;
}


.pop-up {
  width: 568px;
  position: absolute;
  background-color: #ffffff;
  padding: 55px 55px;
  box-sizing: border-box;
}

.form-field:nth-child(1),
.form-field:nth-child(2){
  margin-bottom: 30px;
  position: relative;
}

.calendar {
  position: absolute;
  top: 10%;
  right: 7%;
}

.calendar-button {
  background: transparent;
  border: none;
}

.guest-field {
  display: flex;
  position: relative;
}

.button-plus,
.button-minus {
  background: transparent;
  border: none;
  position: absolute;
}


.map {
  min-height: 595px;
  background-image: url("../img/map.png")
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 132px;
  padding-right: 101px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-top: -120px;
}

